/* Global Styles */

body{
    background-color: #a65f46;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}

img{
    display: block;
    margin: 0 auto;
    width: 100%;
}

#container{
    background-color: #bd7e63;
}

h1, h2, h3{
    text-align: center;
    color: #D9CCC5;
    text-shadow: 1px 1px 1px #000;
    font-family: "Delius Unicase", cursive;       
}

h1 {
    text-decoration: underline;
    font-size: 40px;
}

h2, h3{
    font-size: 24px;
    text-decoration: wavy;
}


/* Mobile Styles */

@media (min-width: 320px) {
    nav {
        background-color: #41342d;
        padding: 4px;
        margin-top: 25px;
        text-align: center;
    }

    nav ul {
        list-style-type: none;
        padding: 8px;
    }   

    nav li{
        display: block;
    }

    nav li a{
        display: block;
        height: 25px;
        background-color: #bd7e63;
        color: #000;
        font-size: 20px;
        text-decoration: none;
        margin-top: 8px;
    }

    nav li a:hover {
        background-color: #a65f46;
    }

    main{
        padding: 80px;
    }

    h1, h2, h3{
        text-align: center;
        color: #D9CCC5;
        text-shadow: 1px 1px 1px #000;        
    }

    footer{
        text-align: center;
        padding: 40px;
    }

}

/* Tablet Styles */

@media (min-width: 768px){
    #container{
        width: 80%;
        margin: 0 auto;
    }

    nav li{
        display: inline-block;
    }

    nav li a{
        width: 150px;
        margin: 5px;
        height: 50px;
        line-height: 50px;
        color: white;
    }

    .turkey_post{
        width: 45%;
        border-radius: 10px;
        box-shadow: 3px 3px 3px #000;
    }
}

/* Desktop Styles */ 

@media (min-width: 1024px) {
    #container{
        width: 80%;
        margin: 20px auto;
        border: 6px solid black;
        border-radius: 20px;
    }

    nav{
        padding: 1px;
        margin: 0;
    }

    nav li a{
        background-color: #bd7e63;
        color: white;
        margin-top: 2px;
        margin-bottom: 2px;
        font-size: 30px;
    }
        
    hr{
        display: none;
    }

    #multi_col{
        display: flex;
    }

    .col{
        width: 95%;
        margin: 5px;
        padding: 10px;
        border: 3px solid black;
    }
}